.section__header {
    border-bottom: 1px solid #ddd;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

@media (max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}
  
.subHeader {
    font-size: 20px;
    color: #3c3c3c;
    margin: 0;
}