.list {
    padding: 20px;
    margin: 0;
    list-style-type: none;
}

.list__item {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 10px;
}

.list__item--hidden {
    display: none;
}

.list__item--lineThrough {
    text-decoration-line: line-through;
}

.button__done {
    color: #ffffff;
    background-color: #008000;
    margin: 5px;
    padding: 0px;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.button__done:hover {
    background-color: #008000a8;
}

.button__remove {
    color: #ffffff;
    background-color: #ff0000;
    margin: 5px;
    padding: 0px;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.button__remove:hover {
    background-color: #ff0000a8;
}