html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.body {
  background-color: #eee;
  margin: auto;
  color: #292929;
  max-width: 700px;
}

@media (max-width: 767px) {
  .body {
      max-width: 90%;
  }
}

.container {
  background-color: #ffffff;
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 0;
  box-shadow: 0 0 5px #ddd;
}

.firstSubHeader {
  border-bottom: 1px solid #ddd;
  font-size: 20px;
  color: #3c3c3c;
  margin: 0;
  padding: 20px; 
}
