.buttons {
    display: flex;
    flex-wrap: wrap;
}

.buttons__button {
    background: transparent;
    color: #008080;
    border: none;
    margin: 0 0 0 20px;
    transition: color 0.3s;
}

.buttons__button:hover {
    color: #008080dd;
}

.buttons__button:disabled {
    color: #ccc;
}
